<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<ul>
			<%for(var i=0;i<list.length;i++){%>
				<li><%=list[i].username%></li>
			<%}%>
		</ul>
	</body>
</html>